@import "tailwindcss" important;

@theme {
  --color-secondary: #1c1917d2;
  --color-primary: #0c0a09;
  --color-heading: #fbbf24;
}

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #f5f5f4;
  font-size: 20px;
  padding: 0;
  margin: 0;
}

h1 {
  font-weight: 500;
}

body {
  background-color: #0c0a09;
  min-height: 100vh;
}


.ContactContainer {
  background-color: #1c1917d2;
  width: 100%;
}

.Contacts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.Contacts img {
  max-width: 60px;
}

.ContactContainer h1 {
  color: #fbbf24;
  font-size: 30px;
  text-align: center;
  padding: 20px;
}

.Contacts a {
  background-color: #0c0a09;
  border-radius: 15%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1em;
  width: 140px;
  height: 140px;
}

.Contacts p {
  font-size: small;
}

.Footer {
  padding-top: 20px;
  padding-bottom: 50px;
  text-align: center;
}
