@import "tailwindcss" important;

@theme {
  --color-primary: #0c0a09;
  --color-secondary: #1c1917d2;
  --color-heading: #fbbf24;
  --color-normal: #fff;
  --color-subtitle: #ABABAB;
}

@layer theme{


  [data-theme="cyber"] {
    --color-primary:   #0a1115;
    --color-secondary: #101d26cc;
    --color-heading:   #22d3ee;
    --color-normal:    #ecfeff;
    --color-subtitle:  #a5f3fc;
  }
}

*{
  @apply font-sans text-normal text-lg p-0 m-0 text-shadow-lg/20 text-shadow-black
}


h1 {
   @apply font-medium text-heading
}


body {
 @apply min-h-screen bg-linear-to-r bg-radial from-primary via-primary to-black to-250% bg-fixed
}